#banner {
  margin: auto;
  width: 100%;
  border: 3px solid rgb(42, 148, 42);
  text-align: center;
  padding: 20px;
}

#parent {
  background-color: rgb(240, 236, 232);
  border-width: 100px;
  border: rgba(0, 0, 0, 0.514)
}

.bodyFrame {
  display: inline-flex;
}

#body {
  padding: ;
}

#story {
  width: 40%;
  margin: 15px; 
  border-radius: 5px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 255, 255);
  padding:10px;

}

#response {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
}

.responseButtons {
  width: 250px;
  height: 50px;
  margin: 30px;
  text-align: center;
  border-width: 0px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;

}

#opt1{
  background-color: rgb(204, 54, 0);
}

#opt1:hover{
  background-color: rgb(204, 54, 0, 0.5);
}


#opt2{
  background-color: rgb(184, 0, 31);
}

#opt2:hover{
  background-color: rgb(184, 0, 31, 0.5);
}

#opt3{
  background-color: rgb(113, 147, 255);
}

#opt3:hover{
  background-color: rgb(113, 147, 255, 0.5);
}

#opt4{
  background-color: rgb(32, 88, 255);
}

#opt4:hover{
  background-color: rgb(32, 88, 255, 0.5);
}




